# Node.js / Express.js specific
node_modules/

npm-debug.log

# Logs
logs/
*.log

# Dependency directories
.pnpm/
.yarn/
yarn-error.log
package-lock.json

# Editor/IDE specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env

# Testing
coverage/

# Build output
dist/
build/

# Misc
.DS_Store
Thumbs.db
